.form{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 20px;
 width:100%;
 height:80%;
 position:absolute;
}

.input{
    width: 40%;
    padding: 20px;
}

.show-alert-class{
    display: block;
}

.hide-alert-class{
    display: none;
}